/* 320

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
/*
body {
width: 100%;
}
*/
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
img.post-img {
max-width: 40%;
float: left;
margin: 5px 5px 5px 0px;
}
img.post-img-full {
max-width: 100%;
margin-left: auto;
margin-right:auto;
margin-top: 5px;
margin-bottom: 10px;
display: block;
}
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
h1 {
text-align:center;
}
/* 9.NAVIGATION */
.navigation {
background-color: #005275;
padding: 5px 15px 5px 15px;
text-transform: uppercase;
text-align: center;
font-size: 100%;
margin-bottom: 10px;
-webkit-border-bottom-right-radius: 15px;
-webkit-border-bottom-left-radius: 15px;
-moz-border-radius-bottomright: 15px;
-moz-border-radius-bottomleft: 15px;
border-bottom-right-radius: 15px;
border-bottom-left-radius: 15px;
}
.navigation ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;
}
.navigation li {
display:inline;
padding : 0 5px 0 5px;
}
/*
.navigation > * {
	display:inline-block
}
.navigation:after {
	content:"\0020";
	display:inline-block;
	height:0;
	overflow:hidden;
	width:100%
}
*/
a.nav,
a.nav:visited {
outline : none;
color : #FFFFFF;
text-decoration : none; }

a.nav:hover {
outline : none;
color : #FFFFFF;
}
a.nav:active,
a.nav:focus,a.navcurrent:focus,a.navcurrent:active {
outline : none;
color : #CFC7A4; }

a.navcurrent,
a.navcurrent:visited {
outline : none;
color : #CFC7A4;
text-decoration : none; }

/* 10.CONTENT */
.post {
}
.post-hr{
border-bottom-style : solid;
border-color : #CFC7A4;
border-width : 1px;
clear:both;
}
.post-header h3,.post-header h2{
color: white;
margin-bottom: 0;
background-color: #5A9E94;
text-align: center;
padding: 5px 0px 5px 0px;
}
.post-header h3:first-letter,.post-header h2:first-letter {
color:white;
}

a.postlink,
a.postlink:visited {
outline : none;
color : #FFFFFF;
text-decoration : none; }

a.postlink:hover {
outline : none;
color : #FFFFFF;
}

a.postlink:visited {
outline : none;
color : #FFFFFF;
}

.post-header {
margin: 10px 0 10px 0;
clear: both;
}

.post-info {
font-size:80%;
font-style: italic;
}

h3.moreposts{
text-align:center;
color: white;
margin-left:auto;
margin-right:auto;
background-color: #CFC7A4;
padding: 10px 5px 10px 5px;
width: 50%;
-webkit-bordert-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
}

/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */
