/* 320

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
body {
width: 100%;
}
.content {
}
.col-right {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
box-shadow:  1px 3px 3px #888;
border-style:solid;
border-color: #5A9E94;
border-width: 5px;
padding: 20px 20px 20px 20px;
}
.main {
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
box-shadow:  2px 3px 3px #888;
border-style:solid;
border-color: #CFC7A4;
border-width: 5px;
padding: 20px 20px 20px 20px;
margin-bottom: 25px;
}
/*
*/
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
img.post-img {
max-width: 40%;
float: left;
margin: 5px 5px 5px 0px;
}
img.post-img-full {
max-width: 100%;
margin-left: auto;
margin-right:auto;
margin-top: 5px;
margin-bottom: 10px;
display: block;
}
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
h1 {
text-align:center;
margin: 0 0 20px 0 ;
}
/* 9.NAVIGATION */
.topbar {
border-bottom-style:solid;
border-color: #5A9E94;
border-width: 5px;
margin: 0 0 25px 0;
}
.navigation {
padding: 0;
text-transform: uppercase;
text-align: center;
font-size: 100%;
}
.navigation ul {
	margin: 0px;
	padding: 0px;
	width: 100%;
	list-style: none;
}
.navigation li {
display:inline-block;
padding : 0 5px 0 5px;
}
a.nav,
a.nav:visited {
outline : none;
color : #5A9E94;
text-decoration : none; }

a.nav:hover {
outline : none;
color : #5A9E94;
}
a.nav:active,
a.nav:focus,a.navcurrent:focus,a.navcurrent:active {
outline : none;
color : #5A9E94; }

a.navcurrent,
a.navcurrent:visited {
outline : none;
color : #CFC7A4;
text-decoration : none; }

/* 10.CONTENT */
.post {
}
.post-hr{
border-bottom-style : solid;
border-color : #CFC7A4;
border-width : 1px;
clear:both;
}
.post-header h3,.post-header h2{
color: white;
margin-bottom: 5px;
background-color: #5A9E94;
text-align: center;
padding: 5px 0px 5px 0px;
/*box-shadow:  0px 3px 3px #888;*/
text-shadow: #3D6B64 -1px -1px 0; 
}

a.postlink,
a.postlink:visited {
outline : none;
color : #FFFFFF;
text-decoration : none; }

a.postlink:hover {
outline : none;
color : #FFFFFF;
}


a.morelink,
a.morelink:visited {
outline : none;
color: #CFC7A4;
text-decoration : none; }

a.morelink:hover {
outline : none;
color : #FFFFFF;
}

.post-header {
margin: 0 0 10px 0;
clear: both;
}

.post-info {
font-size:80%;
font-style: italic;
}

h3.moreposts{
/*text-align:center;
margin-left:auto;
margin-right:auto;*/

}
#more{
  color: #5A9E94;
  display:inline-block;
  overflow:hidden;
  position:relative;
  text-decoration:none;
  width:auto
  font-weight: bold;
 }
#more{padding:0.5em 1.5em}
#more{text-align:right}
#more:before,#more:after{
   background-color: #5A9E94;
   -moz-border-radius:0.25em;
   -webkit-border-radius:0.25em;
   border-radius:0.25em;
   content:"";
   display:block;
   height:0.5em;
   position:absolute;
   right:0;
   top:50%;
   width:1em
  }
  #more:before{
    -moz-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    transform:rotate(45deg)
   }
  #more:after{
    -moz-transform:rotate(-45deg);
    -ms-transform:rotate(-45deg);
    -o-transform:rotate(-45deg);
    -webkit-transform:rotate(-45deg);
    transform:rotate(-45deg)
   }
  #more:before{margin-top:-.36em}
  #more:hover,#more:focus{color:#c00}
  #more:hover:before,#more:hover:after,
  #morE:focus:before,#more:focus:after {background:#c00}

/* 11.MAIN */
/* 12.COMPLIMENTARY */
/* 13.CONTENTINFO */
footer {
margin-top: 25px;
}
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */
