/* 768 

_____________________________________________________

320 and Up boilerplate extension

Author: Andy Clarke
Version: 0.9b
URL: http://stuffandnonsense.co.uk/projects/320andup/
License: http://creativecommons.org/licenses/MIT/
_____________________________________________________

1.ROOT
2.HEADINGS
3.TYPOGRAPHY
4.LINKS
5.FIGURES & IMAGES
6.TABLES
7.FORMS (See css/mylibs/forms.css)
8.BANNER — header[role="banner"]
9.NAVIGATION — nav[role="navigation"]
10.CONTENT
11.MAIN — div[role="main"]
12.COMPLIMENTARY — div[role="complementary"]
13.CONTENTINFO — footer[role="contentinfo"]
14.GLOBAL OBJECTS
15.VENDOR-SPECIFIC 
16.TEMPLATE SPECIFICS
17.MODERNIZR

*/

/* 1.ROOT */
body {
width: 90%;
}
/* 2.HEADINGS */
/* 3.TYPOGRAPHY */
/* 4.LINKS */
/* 5.FIGURES & IMAGES */
/* 6.TABLES */
/* 7.FORMS (See css/mylibs/forms.css) */
/* 8.BANNER */
/* 9.NAVIGATION */
.topbar{
position: relative;

}
.logo {
margin: 0;
padding: 0;
float:left;
max-width: 10%;
}

div.navigation {
position: absolute;
bottom: 0;
right: 0;
}


.navigation ul 
{
}

.navigation li {
text-transform: capitalize;
font-size: 200%;
text-align: left;
font-style: italic;
}
/* 10.CONTENT */
/* 11.MAIN */

/* 12.COMPLIMENTARY */
.col-right {
display: inline;
float: left;
width: 35%;
}

.main {
float: left;
display: inline;
width: 60%;
margin: 0 5% 0 0;
}


/* 13.CONTENTINFO */
/* 14.GLOBAL OBJECTS */
/* 15.VENDOR-SPECIFIC */
/* 16.TEMPLATE SPECIFICS */
/* 17.MODERNIZR */
