---
layout: default
---
{{ content }}
{% for ps in site.posts %}
<article class="post">
<header class="post-header">
<h3><a class="postlink" href="{{ ps.url }}">{{ ps.title }}</a></h3>
<span class="post-info">Geplaatst op <time datetime="{{ ps.date }}" pubdate>{{ ps.date | date: "%d/%m/%y" }}</time> door {{ ps.author }}</span>
</header>
<p>
{% if ps.image != null %}
<img class="post-img" src="/img/posts/{{ ps.image }}" />
{% endif %}
{{ps.content}}
<br /><a href="{{ ps.url }}">Lees het volledige artikel</a>
</p>
</article>
{% endfor %}
