---
layout: default
---
{{ content }}
{% for ps in site.posts limit: 3 %}
<article class="post">
<header class="post-header">
<h3><a class="postlink" href="{{ ps.url }}">{{ ps.title }}</a></h3>
<span class="post-info">Geplaatst op <time datetime="{{ ps.date }}" pubdate>{{ ps.date | date: "%d/%m/%y" }}</time> door {{ ps.author }}</span>
</header>
<p>
{% if ps.image != null %}
<a href="{{ ps.url }}"><img class="post-img" src="/img/posts/{{ ps.image }}" /></a>
{% endif %}
{{ps.content}}
{% comment %}{{ps.content | strip_html | truncatewords:40 }}{% endcomment %}
<br /><a href="{{ ps.url }}">Lees de reacties</a>
</p>
</article>
{% endfor %}
<a  href="blog.html"><img class="more" src="/img/more.png" alt="Meer artikels" /></a>
