---
layout: default
---
<header class="post-header">
<h2>{{ page.title }}</h2>
<span class="post-info">Geplaatst {% if page.date != null %}
op <time datetime="{{ page.date }}" pubdate>{{ page.date | date: "%d/%m/%y" }}</time> 
{% endif %}
door {{ page.author }}</span>
</header>
<div id="post">
{% if page.image != null %}
<img class="post-img-full" src="/img/posts/{{ page.image }}" />
{% endif %}
{{ content }}
</div>

<div id="related">
  <h2>Related Posts</h2>
  <ul class="posts">
    {% for post in site.related_posts limit:3 %}
      <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endfor %}
  </ul>
</div>
